---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR">https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR</a>. If not click the link.
  recorded_at: Thu, 08 Nov 2018 02:34:28 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17365087.0, \n        \"total_supply\":
        17365087.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6509.79018072, \n                \"volume_24h\":
        4620770657.26311, \n                \"market_cap\": 113043072840.0, \n                \"percent_change_1h\":
        -0.27, \n                \"percent_change_24h\": -0.39, \n                \"percent_change_7d\":
        2.34\n            }, \n            \"EUR\": {\n                \"price\":
        5696.2551920452, \n                \"volume_24h\": 4043308327.454286, \n                \"market_cap\":
        98915966984.0, \n                \"percent_change_1h\": -0.27, \n                \"percent_change_24h\":
        -0.39, \n                \"percent_change_7d\": 2.34\n            }\n        },
        \n        \"last_updated\": 1541644226\n    }, \n    \"metadata\": {\n        \"timestamp\":
        1541643505, \n        \"error\": null\n    }\n}"
  recorded_at: Thu, 08 Nov 2018 02:34:28 GMT
recorded_with: VCR 4.0.0
