---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/1/?convert=USD">https://api.coinmarketcap.com/v2/ticker/1/?convert=USD</a>. If not click the link.
  recorded_at: Thu, 08 Nov 2018 02:36:48 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17365087.0, \n        \"total_supply\":
        17365087.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6511.57017357, \n                \"volume_24h\":
        4571513955.79497, \n                \"market_cap\": 113073982571.0, \n                \"percent_change_1h\":
        -0.24, \n                \"percent_change_24h\": -0.36, \n                \"percent_change_7d\":
        2.36\n            }\n        }, \n        \"last_updated\": 1541644397\n    },
        \n    \"metadata\": {\n        \"timestamp\": 1541643660, \n        \"error\":
        null\n    }\n}"
  recorded_at: Thu, 08 Nov 2018 02:36:49 GMT
recorded_with: VCR 4.0.0
