---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1?convert=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP">https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP</a>. If not click the link.
  recorded_at: Fri, 09 Nov 2018 01:48:31 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17366575.0, \n        \"total_supply\":
        17366575.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6451.9145758, \n                \"volume_24h\":
        4719875931.99544, \n                \"market_cap\": 112047658374.0, \n                \"percent_change_1h\":
        0.1, \n                \"percent_change_24h\": -1.01, \n                \"percent_change_7d\":
        1.14\n            }, \n            \"GBP\": {\n                \"price\":
        4939.5083762576, \n                \"volume_24h\": 3613480375.024529, \n                \"market_cap\":
        85782342679.0, \n                \"percent_change_1h\": 0.1, \n                \"percent_change_24h\":
        -1.01, \n                \"percent_change_7d\": 1.14\n            }\n        },
        \n        \"last_updated\": 1541727911\n    }, \n    \"metadata\": {\n        \"timestamp\":
        1541727190, \n        \"error\": null\n    }\n}"
  recorded_at: Fri, 09 Nov 2018 01:48:31 GMT
[...]
