---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1?convert=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP">https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP</a>. If not click the link.
  recorded_at: Fri, 09 Nov 2018 01:44:01 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17366575.0, \n        \"total_supply\":
        17366575.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6458.27927099, \n                \"volume_24h\":
        4714492603.07292, \n                \"market_cap\": 112158191331.0, \n                \"percent_change_1h\":
        0.19, \n                \"percent_change_24h\": -0.94, \n                \"percent_change_7d\":
        1.24\n            }, \n            \"GBP\": {\n                \"price\":
        4944.3811105187, \n                \"volume_24h\": 3609358963.0013947, \n
        \               \"market_cap\": 85866965384.0, \n                \"percent_change_1h\":
        0.19, \n                \"percent_change_24h\": -0.94, \n                \"percent_change_7d\":
        1.24\n            }\n        }, \n        \"last_updated\": 1541727562\n    },
        \n    \"metadata\": {\n        \"timestamp\": 1541726877, \n        \"error\":
        null\n    }\n}"
  recorded_at: Fri, 09 Nov 2018 01:44:01 GMT
[...]
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/1/?convert=USD">https://api.coinmarketcap.com/v2/ticker/1/?convert=USD</a>. If not click the link.
  recorded_at: Mon, 12 Nov 2018 18:15:14 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17372825.0, \n        \"total_supply\":
        17372825.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6392.62434658, \n                \"volume_24h\":
        4201569178.91219, \n                \"market_cap\": 111057944064.0, \n                \"percent_change_1h\":
        0.03, \n                \"percent_change_24h\": 0.28, \n                \"percent_change_7d\":
        -0.6\n            }\n        }, \n        \"last_updated\": 1542046331\n    },
        \n    \"metadata\": {\n        \"timestamp\": 1542045612, \n        \"error\":
        null\n    }\n}"
  recorded_at: Mon, 12 Nov 2018 18:15:14 GMT
[...]
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/1/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": {\n        \"id\": 1, \n        \"name\": \"Bitcoin\",
        \n        \"symbol\": \"BTC\", \n        \"website_slug\": \"bitcoin\", \n
        \       \"rank\": 1, \n        \"circulating_supply\": 17372825.0, \n        \"total_supply\":
        17372825.0, \n        \"max_supply\": 21000000.0, \n        \"quotes\": {\n
        \           \"USD\": {\n                \"price\": 6392.62434658, \n                \"volume_24h\":
        4201569178.91219, \n                \"market_cap\": 111057944064.0, \n                \"percent_change_1h\":
        0.03, \n                \"percent_change_24h\": 0.28, \n                \"percent_change_7d\":
        -0.6\n            }\n        }, \n        \"last_updated\": 1542046331\n    },
        \n    \"metadata\": {\n        \"timestamp\": 1542045612, \n        \"error\":
        null\n    }\n}"
  recorded_at: Mon, 12 Nov 2018 18:15:20 GMT
recorded_with: VCR 4.0.0
