---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/0?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.coinmarketcap.com/v2/ticker/0/?convert=USD
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="https://api.coinmarketcap.com/v2/ticker/0/?convert=USD">https://api.coinmarketcap.com/v2/ticker/0/?convert=USD</a>. If not click the link.
  recorded_at: Thu, 08 Nov 2018 02:37:06 GMT
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/ticker/0/?convert=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"data\": null, \n    \"metadata\": {\n        \"timestamp\":
        1541643887, \n        \"error\": \"id not found\"\n    }\n}"
  recorded_at: Thu, 08 Nov 2018 02:37:06 GMT
recorded_with: VCR 4.0.0
